/* Elements */
html {
 	/* This percentage is used so rem sizings match pixel sizings. */
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px 0;
    text-align: center;
}

main {
    flex: 1 0 auto;
}

footer {
    padding: 30px 0;
    text-align: center;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
}

/* Components */
.page-section  {
    margin-bottom: 30px;
}

.container {
    max-width: 600px;
}

.brand {
    max-width: 120px;
    margin-bottom: 16px;
}

.project {
    color: #333333;
}

.contact-info {
    text-align: center;
}


.contact-item,
.contact-item:hover {
    color: #333333;
    text-decoration: none;
}

.contact-item {
    padding: 0 8px;
    border-right: 1px solid #333333;
}

.contact-item:last-child {
    border-right: 0;
}

/* Card styles */
.card-title {
    height: 4rem;
    line-height: 1.15;
    margin-bottom: 1.5rem;

    /* Center text vertically */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.project-card-body {
    min-height: 210px;
}