/* Elements */
html {
 	/* This percentage is used so rem sizings match pixel sizings. */
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px 0;
    text-align: center;
}

main {
    flex: 1 0 auto;
}

footer {
    padding: 30px 0;
    text-align: center;
}

/* Components */
.page-section  {
    margin-bottom: 30px;
}

.container {
    max-width: 600px;
}

.brand {
    max-width: 120px;
}



.project {
    color: #333333;
}


